* ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  position: absolute;
  top: 20%;
  left: 41%;
  padding: 30px;
  border-radius: 15px 0px 15px 0px;
  background: #00b09b;
  background: -webkit-linear-gradient(to right, #96c93d, #00b09b);
  background: linear-gradient(to right, #96c93d, #00b09b);
}

#inp {
  margin: 10px;
  border-radius: 10px;
  outline: none;
  padding: 5px;
}

h2 {
  text-align: center;
}

.close{
    position: absolute;
    top: 24%;
    left: 90%;
}

#myul {
  position: absolute;
  top: 49%;
  left: 41%; 
   width: 24%;
}

ul li {
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #e0eafc;
  background: -webkit-linear-gradient(to right, #cfdef3, #e0eafc);
  background: linear-gradient(to right, #cfdef3, #e0eafc);
  list-style: none;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}


#addbtn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(224, 222, 222);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px;
  border-radius: 10px;
  cursor: pointer;
}

#addbtn:hover {
  background-position: right center; /* change the direction of the change here */
}

#addbtn {
  background-image: linear-gradient(
    to right,
    #f6d365 0%,
    #fda085 51%,
    #f6d365 100%
  );
}
