*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: cornflowerblue;
    display: flex; 
    align-items: center;
    justify-content: center;
     min-height: 100vh; 
}
.clock{
    display: flex;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    background-image: url("clock.png");
    background-size: cover;
    background-color: white;
    border-radius: 50%;
    border: 20px solid white;
    

}
.clock::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(180, 180, 180);
    border: 3px solid rgb(241, 237, 237);
    z-index: 100000;
    background-size: cover;
    border-radius: 50%;
}
.hour,.min,.sec{
    position: absolute;
}
.hour,.hr{
    width: 160px;
    height: 160px;
     
}
.min,.mn{
    width: 190px;
    height: 190px;
     
}
.sec,.sc{
    width: 230px;
    height: 230px;
     
}
.hr,.mn,.sc{
    display: flex;
    justify-content: center;
    position: absolute;
}
.hr::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 80px;
    z-index: 10;
    background-color: aquamarine;
    border-radius: 6px 6px 0 0;
}
.mn::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 90px;
    z-index: 11;
    background-color: rgb(0, 0, 0);
    border-radius: 6px 6px 0 0;
}
.sc::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 150px;
    z-index: 12;
    background-color: rgb(206, 62, 36);
    border-radius: 6px 6px 0 0;
}
